*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
# *.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

ncf_torch.egg-info
ncf_torch.egg-info/*
ncf_torch/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

## Pytorch tmp savings
*-ubyte

# ## Don't save torch models
# *.pth
